.landingWrapper {
  .content {
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .filterSidebar {
      flex: 18%;
    }
    .products {
      flex: 82%;
      // overflow-x: scroll;
    }
  }
}
.loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
