.personalDetailsScreen{
    .link-style{
        text-decoration: none;
        color: white;
    }

    .img-style{
        width: 150px; 
        height: 100px; 
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
}