.cardDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100vw;
  padding: 0 5vw;
  .products {
    display: flex;
    width: 100%;
    // justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // gap: 1rem;
    border-radius: 10px !important;
  }
  .paginationBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
  }
}
