.sellerPayment{
    .font-style{
        font-size: 1.3rem;
        color: black;
        font-weight: bold;
    }

    .font-style1{
        font-size: 1.3rem;
        color: black;
    
    }

    .img-style{
        width: 300px;
        height: 100px; 
        margin-left: auto;
        margin-right: auto; 
        display: block;
    }

    .card-style{
        max-width: 50rem; 
    }
    

}