.buyer-payment{
    .font-style1{
        font-size: 2rem;
    }
    .font-style2{
        font-size: 1.5rem;
    }
    .card-style{
        max-width: 35rem; 
    }


    .img-style{
        width: 290px;
        height: 100px; 
        margin-left: auto;
        margin-right: auto; 
        display: block;
    }
}