//colors to be used - copy these variable in scss files wherever needed
$nileOrange: #febd69;
$nileLightGray: #37475a;
$nileDarkGray: #232f3e;
$nileBlack: #131a22;
$screenBg: #f5f5f5;

.App {
  min-height: 100vh;

  // background color
  .std-bg {
    background-color: $screenBg;
    height: 100%;
  }

  .std-section {
    width: 100%;
    height: 1px;
    background-color: #37475a;
  }

  .std-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .std-activeCard{
    border: 1px solid gray;
    border-radius: 12px;
    transform: scale(1.1);
    margin: 3px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: 0.3s ease-in;
  }

  //general card class - apply to div element
  .std-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
    transition: 0.3s;
    background-color: white;
    &:hover {
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  }

  // product images
  .std-img-mini {
    min-width: 10rem;
  }

  //button classes - apply to button element
  .std-btn {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: Assistant;
    font-weight: 600;
    cursor: pointer;
  }
  .std-btnOrange {
    background-color: $nileOrange;
    color: black;
  }
  .std-btnGray {
    background-color: #edecec;
    border: 1px solid #808080;
  }
  .std-btnDanger {
    background-color: red;
    color: white;
  }
  .std-btnYellow {
    background-color: #ffd814;
    color: black;
  }

  //input fields
  .std-inputField {
    background: #edecec;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-family: Assistant;
    &:focus {
      outline: none;
    }
  }

  //different color fonts
  .std-whiteText {
    color: white;
  }
  .std-blackText {
    color: black;
  }
  .std-greenText {
    color: #007112;
  }
  .std-redText {
    color: red;
  }

  //font weights
  .std-boldestFont {
    font-weight: 800;
  }
  .std-boldFont {
    font-weight: 600;
  }
  .std-lightFont {
    font-weight: 400;
  }

  //different headings
  .std-bigHeader {
    font-size: 4rem;
    font-weight: bolder;
  }
  .std-header {
    font-size: 3rem;
    font-weight: bold;
  }
  .std-subHeader {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .std-font3 {
    font-size: 3rem;
  }
  .std-font2 {
    font-size: 1.5rem;
  }
  .std-font1 {
    font-size: 1rem;
  }
  .std-fontSmall {
    font-size: 0.9rem;
  }
  .std-fontMedium {
    font-size: 1.2rem;
  }

  //font styles
  .std-italic {
    font-style: italic;
  }
  .std-underline {
    text-decoration: underline;
  }
  .std-bold {
    font-weight: 600;
  }

  //centralize
  .std-centerAlign {
    text-align: center;
  }

  //borders
  .std-border {
    height: 1px;
    width: 100%;
    background-color: gray;
  }

  //icon images
  .std-icon1 {
    font-size: 1rem;
  }
  .std-icon2 {
    font-size: 2rem;
  }

  //color boxes - specify background color in style attribute
  .std-colorBox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  //hyperlinks
  .std-link {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
